apiVersion: apps/v1
kind: Deployment
metadata:
  name: url-shortener
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: url-shortener
  template:
    metadata:
      labels:
        app: url-shortener
    spec:
      containers:
      - image: ghcr.io/vitos-exe/url-shortener:master
        imagePullPolicy: Always
        name: url-shortener
